<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Welcome to Taskr</h1>
  <p>Please register to continue</p>
  <%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
</div>
